.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(#5D48FF, #8b79ffd3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.typewriter{
  height: auto;
}

.typewriter input{
  min-width: auto;
  background: transparent;
  border: none;
  font-size: 3rem;
  color: #fff;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  text-shadow: 0.7px 0.7px #666, 2.5px 3px #000;
  white-space: nowrap;
  margin: 0 auto; 
  line-height: 1.5;
  letter-spacing: .15em; 
  animation: 
  typing 2.5s steps(30,end),
  blink-caret 0.8s step-start;
}

input::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

#serach-box{
  border: none;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
